---
title: 'A free multi-CDN for open source project, WordPress, images and more!'
description: 'Statically is a free multi-CDN for open source project, WordPress, images and other assets with high-performance of caching and optimization.'
js: |
  $.extend(STATICALLY_PASTE_DATA, {
      'https?:\\/\\/raw\\.github(?:usercontent)?\\.com\\/([^\\/]+)\\/([^\\/]+)\\/([^\\/]+)\\/(.+)': 'https://cdn.statically.io/gh/$1/$2/$3/$4',
      'https?:\\/\\/github\\.com\\/([^\\/]+)\\/([^\\/]+)\\/(?!releases\\/)(?:(?:blob|raw)\\/)?([^\\/]+)\\/(.+)': function(m0, m1, m2, m3, m4) {
          if (m3 === 'master') {
              $.get('https://api.github.com/repos/' + m1 + '/' + m2 + '/commits/' + m3, response => {
                  var hash = response.sha && response.sha.slice(0, 8);
                  if (hash) {
                      STATICALLY_PASTE_TOOLS.setValue('https://cdn.statically.io/gh/' + m1 + '/' + m2 + '/' + hash + '/' + m4);
                  } else {
                      STATICALLY_PASTE_TOOLS.setError();
                  }
              }, 'json');
              return 'Fetching URL\u2026';
          }
          return 'https://cdn.statically.io/gh/' + m1 + '/' + m2 + '/' + m3 + '/' + m4;
      },
      'https?:\\/\\/gist\\.github\\.com\\/([^\\/\\s]+)\\/([^?&#]+)': function(m0, m1, m2) {
          $.get('https://api.github.com/gists/' + m2, response => {
              var files = response.files,
                  f = Object.keys(files),
                  link = files[f[0]] && files[f[0]].raw_url;
              if (link) {
                  STATICALLY_PASTE_TOOLS.setValue(link.replace(new RegExp('^https?:\\/\\/gist\\.githubusercontent\\.com\\/(\\S+)$'), (m0, m1) => {
                      return 'https://cdn.statically.io/gist/' + m1;
                  }));
              } else {
                  STATICALLY_PASTE_TOOLS.setError();
              }
          }, 'json');
          return 'Fetching URL\u2026';
      },
      'https?:\\/\\/gist\\.githubusercontent\\.com\\/(\\S+)': 'https://cdn.statically.io/gist/$1',
      'https?:\\/\\/gitlab\\.com\\/([^\\/]+\\/[^\\/]+)\\/(?:raw|blob)\\/(.+\\..+?)(?:\\?.*)?': 'https://cdn.statically.io/gl/$1/$2',
      'https?:\\/\\/bitbucket\\.org\\/([^\\/]+\\/[^\\/]+)\\/(?:raw|src)\\/(.+\\..+?)(?:\\?.*)?': 'https://cdn.statically.io/bb/$1/$2'
  });
layout: home
layout_data:
  header: paste
  header_data:
    placeholder: ['Paste a GitHub, GitLab, Bitbucket file or gist URL here&hellip;', ""]
  skin:
    body: ['#ed2f3c', '#fff']
    button: ['#2271a9', '#277cb4', '#1f6798']
  features:
    - title: 'For Developers'
      description: 'Load your project from GitHub, GitLab and Bitbucket easily!'
      image: '/static/png/Engineer-256.png'
    - title: 'Unlimited Traffics'
      description: 'No traffic limits or throttling. Files are served via <a href="/network">super fast global CDNs</a>.'
      image: '/static/png/Network-01-256.png'
    - title: 'Long Life Cache'
      description: 'Files are cached in the browser for 1 year. Learn more about <a href="/network#cache">cache behavior</a>.'
      image: '/static/png/Clock-01-256.png'
---

<div class="container p-0 pb-4">
  {% for feature in site.data._features %}
  <div class="row no-gutters">
    <div class="col-lg-6{% cycle ' order-lg-2', '' %}">
      <img alt="" src="{{ feature.image | prepend: site.url }}">
    </div>
    <div class="col-lg-6{% cycle ' order-lg-1', '' %} my-auto">
      <h2>{{ feature.title }}</h2>
      <p>{{ feature.description }}</p>
      {% if feature.button %}
      <p class="mb-0">
        {% if feature.button.link %}
        <a class="btn" href="{{ feature.button.link }}" target="_blank">{{ feature.button.title }}</a>
        {% elsif feature.button.path %}
        <a class="btn" href="{{ feature.button.path | prepend: site.url }}">{{ feature.button.title }}</a>
        {% endif %}
      </p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% if site.data.sponsors %}
<div class="container-fluid sponsors">
  <p>Statically wouldn&rsquo;t be the best free CDN without sponsorship from our partners.</p>
  <div>
    {% for sponsor in site.data.sponsors %}
    <a href="{{ sponsor.link }}" title="{{ sponsor.title }}" target="_blank"><img src="{{ sponsor.image | prepend: site.url }}" alt="{{ sponsor.description | default: sponsor.title }}"></a>
    {% endfor %}
  </div>
</div>
{% endif %}