<header class="masthead text-center">
  <div class="overlay"><div id="canvas"></div></div>
  <script src="vendor/julian-laval/network.js"></script>
  <script>new ParticleNetwork(document.getElementById('canvas'));</script>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1>{{page.title | default: site.title}}</h1>
        <p class="lead mr-auto ml-auto" style="width: 80%;">{{page.description | default: site.description}}</p>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <input type="text" class="form-control form-control-lg text-center" placeholder="Paste a GitHub, GitLab or Bitbucket URL here&hellip;">
        </form>
      </div>
    </div>
  </div>
</header>