    <footer class="footer">
      <div class="container">
        <div class="row">
          {% if site.data.links %}
          <div class="col-lg-6 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              {% for link in site.data.links %}
              <li class="list-inline-item mr-3">
                {% if link.link %}
                <a href="{{ link.link }}" title="{{ link.description }}" target="_blank">{{ link.title }}</a>
                {% elsif link.path %}
                <a href="{{ link.path | prepend: site.url }}" title="{{ link.description }}" target="_blank">{{ link.title }}</a>
                {% else %}
                <span title="{{ link.description }}">{{ link.title }}</span>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            <p class="copyright small mb-4 mb-lg-0">&copy; {{ site.title }} {{ 'now' | date: '%Y' }}. All rights reserved.</p>
          </div>
          {% endif %}
          {% if site.data.socials %}
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              {% for social in site.data.socials %}
              <li class="list-inline-item mr-3">
                {% if social.link %}
                <a href="{{ social.link }}" title="{{ social.title | default: social.description }}" target="_blank">
                  <i class="fab fa-{{ social.icon }} fa-2x fa-fw"></i>
                </a>
                {% elsif social.path %}
                <a href="{{ social.path | prepend: site.url }}" title="{{ social.title | default: social.description }}">
                  <i class="fab fa-{{ social.icon }} fa-2x fa-fw"></i>
                </a>
                {% else %}
                <span title="{{ social.title | default: social.description }}">
                  <i class="fab fa-{{ social.icon }} fa-2x fa-fw"></i>
                </span>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </footer>

    <script src="{{ site.url }}/static/js/jquery.min.js?v={{ site.version }}"></script>
    <script src="{{ site.url }}/static/js/bootstrap.min.js?v={{ site.version }}"></script>
    <script src="{{ site.url }}/static/js/statically.js?v={{ site.version }}"></script>

    {% if page.layout_data.skin and page.layout_data.animation %}
    <script src="{{ site.url }}/static/js/network.min.js?v={{ site.version }}"></script>
    <script>
    var container = document.querySelector('.overlay div');
    container && new ParticleNetwork(container, {
        background: '{{ page.layout_data.skin.body[0] }}',
        particleColor: '{{ page.layout_data.skin.body[1] }}'
    });
    </script>
    {% endif %}

    {% if page.js %}
    <script>
    {{ page.js }}
    </script>
    {% endif %}

  </body>
</html>