  <footer class="footer">

    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md col-sm-4 col-12 col">
          <h5>About Us</h5>
          <!--headin5_amrc-->
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          <p><i class="fa fa-fw fa-location-arrow"></i> 9878/25 sec 9 rohini 35</p>
          <p><i class="fa fa-fw fa-phone"></i> +91-9999878398</p>
          <p><i class="fa fa-fw fa-envelope"></i> info@example.com</p>
        </div>
        <div class="col-sm-4 col-md col-6 col">
        <h5>Links 1</h5>
        <ul class="list-unstyled">
          <li><a href="http://webenlance.com">Image Rectoucing</a></li>
          <li><a href="http://webenlance.com">Clipping Path</a></li>
          <li><a href="http://webenlance.com">Hollow Man Montage</a></li>
          <li><a href="http://webenlance.com">Ebay & Amazon</a></li>
          <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
          <li><a href="http://webenlance.com">Image Cropping</a></li>
        </ul>
        </div>
        <div class="col-sm-4 col-md col-6 col">
          <h5>Links 2</h5>
          <ul class="list-unstyled">
            <li><a href="http://webenlance.com">Remove Background</a></li>
            <li><a href="http://webenlance.com">Shadows & Mirror Reflection</a></li>
            <li><a href="http://webenlance.com">Logo Design</a></li>
            <li><a href="http://webenlance.com">Vectorization</a></li>
            <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
            <li><a href="http://webenlance.com">Image Cropping</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md col-12 col">
          <h5>Follow Us on Twitter</h5>
          <p><a href="">@staticallyio</a></p>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>