    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Credits</a>
              </li>
            </ul>
            <p class="copyright small mb-4 mb-lg-0">&copy; {{ site.title }} {{ 'now' | date: '%Y' }}. All rights reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ site.url }}/static/js/jquery.min.js?v={{ site.version }}"></script>
    <script src="{{ site.url }}/static/js/bootstrap.min.js?v={{ site.version }}"></script>
    <script src="{{ site.url }}/static/js/statically.js?v={{ site.version }}"></script>

    {% if page.layout_data.skin and page.layout_data.animation %}
    <script src="{{ site.url }}/static/js/network.min.js?v={{ site.version }}"></script>
    <script>
    var container = document.querySelector('.overlay div');
    container && new ParticleNetwork(container, {
        background: '{{ page.layout_data.skin.body[0] }}',
        particleColor: '{{ page.layout_data.skin.body[1] }}'
    });
    </script>
    {% endif %}

    {% if page.js %}
    <script>
    {{ page.js }}
    </script>
    {% endif %}

  </body>
</html>