<!DOCTYPE html>
<html lang="{{site.language}}">

<head>

  <meta charset="{{site.charset}}">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{site.description}}">

  <title>{{site.title}}. {{site.slogan}}</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300i,400i,700i|Alfa+Slab+One:400" rel="stylesheet">

  <link href="css/landing-page.css?v={{site.version}}" rel="stylesheet">

</head>

<body>

{% include nav.html %}