<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand mx-2" href="{{ site.url }}">
    <svg viewBox="0 0 512 512" width="30" height="30" focusable="false"><title>Logo</title><path d="M96,288 243,288 191.9,480 416,224 269,224 320,32z"></path></svg>
    <span>{{ site.title }}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
    <svg viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="nav">
    <ul class="navbar-nav">
      {% for a in site.data.nav.list %}
        {% if a.list and a.list.size > 0 %}
        <li class="nav-item dropdown{% if page.url contains a.path %} active{% endif %}">
          {% if a.path %}
          <a class="nav-link dropdown-toggle" href="{{ a.path | prepend: site.url }}" id="toggle:{{ a.title | slugify }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ a.description | escape }}">{{ a.title }}</a>
          {% elsif a.link %}
          <a class="nav-link dropdown-toggle" href="{{ a.link }}" id="toggle:{{ a.title | slugify }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ a.description | escape }}" target="_blank">{{ a.title }}</a>
          {% else %}
          <a class="nav-link disabled" href="javascript:;">{{ a.title }}</a>
          {% endif %}
          <div class="dropdown-menu" aria-labelledby="toggle:{{ a.title | slugify }}">
          {% for list in a.list %}
            {% if list.path %}
            <a class="dropdown-item" href="{{ list.path | prepend: site.url }}" title="{{ list.description | escape }}">{{ list.title }}</a>
            {% elsif list.link %}
            <a class="dropdown-item" href="{{ list.link }}" title="{{ list.description | escape }}" target="_blank">{{ list.title }}</a>
            {% else %}
            <a class="dropdown-item disabled" href="javascript:;" title="{{ list.description | escape }}">{{ list.title }}</a>
            {% endif %}
          {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="nav-item{% if page.url contains a.path %} active{% endif %}">
          {% if a.path %}
          <a class="nav-link" href="{{ a.path | prepend: site.url }}" title="{{ a.description | escape }}">{{ a.title }}</a>
          {% elsif a.link %}
          <a class="nav-link" href="{{ a.link }}" title="{{ a.description | escape }}" target="_blank">{{ a.title }}</a>
          {% else %}
          <a class="nav-link disabled" href="javascript:;" title="{{ a.description | escape }}">{{ a.title }}</a>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>