body {
  font-family: 'Source Sans Pro', sans-serif;
}

code, pre, samp {
  font-family: 'Source Code Pro', monospace;
}

a, a:focus, a:hover, a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: normal;
}

.btn,
.btn:focus,
.btn:hover,
.btn:active {
  color: inherit;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}

.contents > .container-fluid > .row > div {
  background-size: cover;
  padding: 4rem;
}

.navbar-toggler {
  color: inherit;
}

.navbar-brand svg {
  display: block;
  float: left;
  fill: currentColor;
  width: 2rem;
  height: 2rem;
  margin: 0 0 0 -.5rem;
}

.alert {
  position: relative;
  z-index: 4;
  background: rgba(0, 0, 0, .5);
  color: inherit;
  border: 0;
  border-radius: 0;
  margin: 0 .5rem .5rem;
}

.alert p {
  margin: 0;
}

.master {
  position: relative;
  padding-top: 8.5rem;
  padding-bottom: 6rem;
  text-align: center;
}

.layout-page .master,
.layout-post .master {
  padding-top: 5.5rem;
  padding-bottom: 2rem;
}

.layout-page article,
.layout-post article {
  border-top: 1px solid rgba(255, 255, 255, .05);
  padding-top: 1rem;
  margin-bottom: 4rem;
}

.navbar-is-solid .navbar {
  background: inherit;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}

.master .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.master .overlay div {
  display: block;
  width: 100%;
  height: 200%;
}

.master .container {
  position: relative;
  z-index: 2;
}

.master .form-control {
  background: rgba(255, 255, 255, .125);
  color: #fff;
  border: 3px solid transparent;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
  transition: border-color .125s ease-out;
}

.master .form-control:hover {
  border-color: rgba(255, 255, 255, .25);
}

.master .form-control:focus {
  border-color: inherit;
  transition: none;
}

.master .form-control::placeholder {
  color: rgba(255, 255, 255, .6);
}

.master .form-control:focus::placeholder {
  color: transparent;
}

.master h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .master h1 {
    font-size: 3rem;
  }
}

.features {
  background: rgba(0, 0, 0, .125);
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.features .features-item {
  max-width: 20rem;
}

.features .icon {
  display: block;
  width: 40%;
  height: auto;
}

.features .features-item .icon.fa {
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
}

.features .features-item .icon.fa {
  font-size: 6rem;
}

.features .features-item:hover .fa {
  font-size: 5rem;
}

.contents {
  background: rgba(0, 0, 0, .2);
}

.contents article {
  background: none;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contents .contents-text {
  padding: 3rem;
}

.contents .contents-img {
  min-height: 30rem;
  background-size: cover;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background: rgba(0, 0, 0, .25)!important;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-master.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: rgba(0, 0, 0, .35);
}

.max-width {
  max-width: 768px;
}

@media (max-width: 800px) {
  .max-width {
    max-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

#debug {
  background: #000;
  color: #fff;
  margin: 4rem auto 0;
  padding: 1rem;
  font-size: 80%;
  position: relative;
  z-index: 2;
  text-align: left;
  border-radius: .25em;
}